<!--extend from layout -->
{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block content %}
  <main class="container signup-section">
    <div class="section-content">
      <h1>Log In</h1>
      <form action="/login" method='POST'>

        <div class="form-group">
          {{ render_field(form.email) }}
        </div>

         <div class="form-group">
          {{ render_field(form.password) }}
        </div>

        <p>{{ form.remember_me }} Remember Me</p>
        {{ form.submit(class="btn-primary") }}
      </form>
    </div>
  </main>
{% endblock %}


<!--  This template expects a form object instantiated from the form class we just defined stored in a template argument named form. -->

<!-- The form.hidden_tag() template argument will get replaced with a hidden field that implements the CSRF prevention that we enabled in the configuration. This field needs to be in all your forms if you have CSRF enabled.-->