<!--extend from layout -->
{% extends "layout.html" %}

{% block content %}
{% from "_formhelpers.html" import render_field %}
  <main class="container signup-section">
    <div class="section-content">
      <h1>Create an account:</h1>
      <form action="/signup" method="post">


        <div class="form-group">
          {{ render_field(form.first_name) }}
        </div>

         <div class="form-group">
          {{ render_field(form.last_name) }}
        </div>

         <div class="form-group">
          {{ render_field(form.email) }}
        </div>

         <div class="form-group">
          {{ render_field(form.password) }}
        </div>

        <div class="form-group">
          {{ render_field(form.confirm) }}
        </div>


        {{ form.submit(class="btn-primary") }}
      </form>
    </div>
  </main>
{% endblock %}


<!--  This template expects a form object instantiated from the form class we just defined stored in a template argument named form. -->
